@page
@model Waterful.Pages.DeleteModel

@{
    ViewData["Title"] = "Delete";
    ViewBag.ShowClose = true;
    var options = new DrinkOptions(ViewData, null);
    var option = options.GetOptionFromType(Model.Water.Type);
    var optionViewData = option["option"] as Models.DrinkOption;
    optionViewData!.IsCounterEnabled = false;
}

<section class="delete">
    <h1>Are you sure you didn’t drink that?</h1>
    <div class="d-flex">
        <partial name="_DrinkOptionPartial" view-data="option" />
        <div class="d-flex flex-column justify-content-between my-5">
            <div>
                <div class="type-badge mb-3">@(Model.Water.Type.ToString().AddSpacing())</div>
                <p>On @(Model.Water.Date.FormatLogDate())</p>
            </div>
            <form method="post">
                <input type="hidden" asp-for="Water.Id"/>
                <button type="submit" class="btn btn--accept">Yes</button>
            </form>
        </div>
    </div>
</section>