@page
@model Waterful.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
    ViewBag.ShowClose = true;
    var options = new DrinkOptions(ViewData, Model.Water);
}

<section class="edit">
    <form method="post">
        <h1>Edit your drink</h1>
        <div class="d-flex">
            @Html.HiddenFor(model => model.Quantities[0], new { id = "miniGlassQuantity" })
            @Html.HiddenFor(model => model.Quantities[1], new { id = "glassQuantity" })
            @Html.HiddenFor(model => model.Quantities[2], new { id = "bottleQuantity" })
            <partial name="_DrinkOptionPartial" view-data="options.MiniGlass" />
            <partial name="_DrinkOptionPartial" view-data="options.Glass" />
            <partial name="_DrinkOptionPartial" view-data="options.Bottle" />
        </div>
        <div class="form-group">
            <input type="submit" value="Done" class="btn btn-primary btn--fit my-2" />
        </div>
    </form>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
